<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main.html}">

<head>
    <title>Create Region</title>
  </head>
  <body>
    <section class="container" layout:fragment="content">
      <div class="card mt-5">
        <h4 class="card-header fw-bold bg-success-subtle text-center">Create of Region</h4>
        <form th:action="@{/region}" th:method="post" th:object="${region}">
          <div class="card-body">
            <div class="input-group mb-4 mt-2">
              <span
              <span class="input-group-text fw-bold bg-success-subtle" id="name"
              >Name</span
            >
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="name" th:field="*{name}" required>
            </div>

            <div class="d-flex gap-3">
              <a th:href="@{/region}" class="btn btn-outline-secondary px-4">Back</a>
              <button type="submit" class="btn btn-outline-success px-4" style="margin: 0 -10px">Save</button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>